@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter Display";
  src: url("./fonts/InterDisplay_Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter Display";
  src: url("./fonts/InterDisplay_SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Inter Display";
  src: url("./fonts/InterDisplay_Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMono_400Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMono_500Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMono_600SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Geist Mono";
  src: url("./fonts/GeistMono_700Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}
