.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 8px;
  width: calc(100% - 48px);
  max-width: var(--to-empty-state-max-width);
  margin: 40px auto;
}

.icon {
  margin-bottom: 4px;
}

.message {
  max-width: 56ch;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}
