.slot {
  position: relative;
  display: inline-flex;
  flex: none;
  width: 16px;
  height: 16px;
}

.layer {
  position: absolute;
  inset: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
