.list {
  display: flex;
  flex-direction: column;
  min-width: 0;
  margin: 0;
  padding: 0;
}

.item {
  min-width: 0;
  overflow: hidden;
}

.divided > .item {
  border-bottom: 1px solid var(--to-divider);
}

.divided > .item:last-child {
  border-bottom: 0;
}
